<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>sandMinDX</key>
	<string>140.0f</string>
	<key>sandMinDY</key>
	<string>40.0f</string>
	<key>sandRangeDX</key>
	<integer>80</integer>
	<key>sandRangeDY</key>
	<integer>40</integer>
	<key>swimDirection</key>
	<string>{0,1}</string>
	<key>startPosition</key>
	<string>{120,200}</string>
	<key>forceUp</key>
	<string>180.0f</string>
	<key>rightForce</key>
	<string>{80,0}</string>
	<key>gravity</key>
	<string>100.0f</string>
</dict>
</plist>
